td:nth-child(1) {
  width: 100px;
  height: 100px;
}

table img {
  width: 100%;
  aspect-ratio: 1/1;
}

.amazonLink {
  color: rgb(0, 255, 0);
  background-color: white;
  padding-left: 20px;
}

.img_toggle {
  display: none;
}
